/* Estilos para o cabeçalho */
header {
    background-color: #1da1f2;
    color: #fff;
    padding: 20px;
}

header .logo img {
    max-width: 150px;
    height: auto;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para o rodapé */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1da1f2; 
    padding: 20px 0;
    text-align: center;
    color: #fff;
}


/* Estilos para a seção do perfil */
#profile-section {
    padding: 20px;
}

.profile-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.cover-photo img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.avatar {
    margin-top: 20px;
    margin-left: 20px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-info {
    margin-left: 20px;
}

h1, p {
    margin: 5px 0;
}

.bio {
    color: #657786;
}

.profile-actions {
    margin-top: 20px;
}

.edit-profile-btn, .follow-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: #1da1f2;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.profile-details {
    margin-top: 20px;
    margin-right: 70px;
}

.section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #1da1f2;
}

a {
    text-decoration: none;
    color: #1da1f2;
}

a:hover {
    text-decoration: underline;
}
