body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #1da1f2; /* Cor do Twitter */
    padding: 20px 0;
    color: #fff;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.upload {
    padding: 50px 0;
    text-align: center;
}

.upload h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.upload form {
    max-width: 500px;
    margin: 0 auto;
}

.upload input[type="file"] {
    display: none;
}

.upload label {
    display: inline-block;
    background-color: #1da1f2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.upload input[type="text"],
.upload textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload textarea {
    height: 100px;
}

.upload button {
    display: block;
    background-color: #1da1f2;
    color: #fff;
    padding: 15px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload button:hover {
    background-color: #0d8ae7;
}



.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1da1f2; 
    padding: 20px 0;
    text-align: center;
}
